[org/gnome/desktop/interface]
cursor-size=32
gtk-im-module='gtk-im-context-simple'
enable-animations=false
text-scaling-factor=1.25
toolkit-accessibility=false

[org/gnome/desktop/input-sources]
sources=[('xkb', 'es+cat')]
xkb-options=['ctrl:swap_lalt_lctl']

[org/gnome/desktop/wm/preferences]
num-workspaces=6

[org/gnome/desktop/wm/keybindings]
maximize=['<Primary><Alt>Up']
unmaximize=['<Primary><Alt>Down']
switch-to-workspace-1=['<Primary><Alt>less']
switch-applications=['<Primary>Tab']
switch-to-workspace-2=['<Primary><Alt>z']
switch-to-workspace-3=['<Primary><Alt>x']
switch-to-workspace-down=@as []
switch-to-workspace-4=['<Primary><Alt>c']
switch-applications-backward=['<Primary><Shift>Tab']
switch-to-workspace-up=@as []

[org/gnome/desktop/peripherals/touchpad]
edge-scrolling-enabled=false
two-finger-scrolling-enabled=true
send-events='enabled'

[org/gnome/terminal/legacy/keybindings]
switch-to-tab-5='<Primary>5'
switch-to-tab-6='<Primary>6'
switch-to-tab-1='<Primary>1'
switch-to-tab-2='<Primary>2'
switch-to-tab-3='<Primary>3'
switch-to-tab-4='<Primary>4'
